description = "Meta Tags"
==
<meta charset="utf-8">
<title>{{ this.theme.site_title|_ }} - {{ this.page.title|_ }}</title>

<meta name="description" content="{{ this.page.meta_description|_ }}">
<meta name="title" content="{{ this.page.meta_title|_ }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<meta name="robots" content="index, follow">
<meta name="author" content="Genius Soluções Web">
<meta name="reply-to" content="contato@estudiogenius.com.br">

<link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png' | hash | theme }}" />

<meta property="og:type" content="website" />
<meta property="og:image" content="{{ 'assets/images/logo.png' | hash | theme }}" />
<meta property="og:url" content="{{ '/'|app }}" />

<meta property="og:description" content="{{ this.page.meta_description|_ }}" />
<meta property="og:title" content="{{ this.page.meta_title|_ }}" />

<meta property="og:site_name" content="{{ this.theme.site_title|_ }}" />

<meta property="fb:admins" content="100001841398740">